* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #cbdaec;
  max-height: 100vh;
  max-width: 100vw;
}
header {
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 6px 6px 4px #84abf4;
}
a {
  color: black;
  text-transform: none;
}
.link {
  text-align: center;
  margin-top: 10px;
  font-size: small;
}
.title {
  text-align: center;
  color: #134077;
  margin-top: 3%;
  margin-bottom: 1%;
}

/* register/log-in page */
.form-container {
  width: 30%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 3%;
  border: 1px solid black;
}
.form-item {
  padding-left: 7%;
  padding-bottom: 7%;
}
.form-item input {
  border-style: none;
  border-bottom:1px solid black;
  width: 90%;
}
.form-item input:focus{
  outline:none;
}
.form-item label {
  font-size: small;
}
.form-btn {
  width: 88%;
  margin-left: 7%;
  height: 30px;
  background-color: #0057ff;
  color: white;
  border: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* register/log-in page */

/*personal page*/
.event-container {
  display: flex;
}
.event {
  width: 20%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-bottom: 4%;
  border: 1px solid black;
}
.event h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.event-btn {
  width: 88%;
  height: 30px;
  background-color: #0057ff;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
/* /personal page*/